
.terminal
  .terminal__command__list
    .terminal__command
      strong.terminal__command__blue eterm##$: BKUW300PS345672:
      span.terminal__command__white fsociety00.dat  readme.txt

    .terminal__command
      strong.terminal__command__blue eterm##$: BKUW300PS345672:
      span.terminal__command__white more readme.txt

    .terminal__readme
      span.terminal__readme__title ------readme.txt------
      strong.terminal__readme__comment leave me here
      span.terminal__readme__title ------readme.txt------

  .terminal__image__container
    img(src="./images/fsociety_logo.svg", width="250").terminal__image
    .terminal__image__text hello friend.
