
// Typography
strong
  font-weight: normal

// Base styles
html
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit

html,
body
  height: 100vh
  overflow: hidden

body
  background: $bg-color
  color: $text-color
  font-family: 'FSEX300', sans-serif
  font-size: 16px
  line-height: 1.6
  -webkit-font-smoothing: antialiased